.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.container_checkbox {
  flex-direction: row;
  align-items: center;
}
.container_checkbox input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container > input,
.container > textarea {
  padding: 0.4rem;
  outline: none;
  border: 2px solid var(--clr-secondary);
}
.container > input:focus-within,
.container > textarea:focus-within {
  outline: auto;
}
