.heading {
  font-size: var(--fs-primary-heading);
}
.heading2 {
  font-size: var(--fs-secondary-heading);
}
.nav {
  font-size: var(--fs-nav);
  display: flex;
  gap: 1rem;
  font-weight: var(--fw-bold);
  list-style: none;
  margin: 0;
  padding: 0;
}
